html, body {
    align-items: center;
    display: flex;
    font-family: Courier, "Lucida Console", monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.threeDViewer {
    background: url('./img/cloud-2381581_1920.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.theEnd {
    color: #FFF;
    font: 4rem bold SansSerif;
    margin: 0;
    display: none;
    z-index: 10;
}

.theEnd.visible {
    display: block;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}